.container{
    @media only screen and (max-width: 768px) {
        padding:0 20px 0;
    }
    
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 769px) {
        background-color:blue;
    }
    
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 1024px) {
        background-color:green;
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 1216px) {
        background-color:orange;
    }
    
    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @media only screen and (min-width: 1408px) {
        background-color:black;
    }
}


.sau-c-page-hero__inner{
    @include until($tablet) {
        padding-top:110px;
    }
    @include from($tablet) {
        //background-color: green;
    }
}